body {
 background-color: rgb(61, 67, 73);
}

.hide { display:none; }

#wrapper {
 text-align: center;
}

#movieTitle {
 width: 100%;
 height: 50px;
 text-align: center;
 font-size: 22px;
}

svg {
 margin: 45px;
}
#movieImg {
  width: 100%;
  text-align: center;
}

.svgDiv {
 margin-left: 40px;
}

.searchBar { display: block; width:100%; }

.searchBtn { margin: 20px; padding: 15px 35px 15px 35px; font-size: 29px; font-family: 'ultra';}
